# Bundler & Ruby
.bundle
vendor/
Gemfile.lock
*.gem

# Jekyll
.jekyll-cache/
.jekyll-metadata
_site/

# Node/NPM
node_modules/
package-lock.json

# IDE & Editor
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Build & Temp
tmp/
templates/
assets/js/dist/
_sass/vendors/
pretext/.env
pretext/cpgem
*logs*
# Plugins (non suivis)
_plugins/headers_generator.rb