{% unless page.description %}
  {% capture description_parts %}
    {% if page.concours and page.concours != empty %}
      Concours : {{ page.concours }}
    {% endif %}
    {% if page.session and page.session != empty %}
      | Session : {{ page.session }}
    {% endif %}
    {% if page.filiere and page.filiere != empty %}
      | Filière : {{ page.filiere }}
    {% endif %}
    {% if page.epreuve and page.epreuve != empty %}
      | Épreuve : {{ page.epreuve }}
    {% endif %}
  {% endcapture %}
  
  {% assign page.description = description_parts 
    | strip 
    | remove: "|  |", "|" 
    | remove_first: " | " 
    | strip %}
{% endunless %}
