{% if post.pdf_basename %}
    {% assign file_basename = post.pdf_basename %}
  {% elsif page.pdf_basename %}
    {% assign file_basename = page.pdf_basename %}
{% endif %}

{% comment %} {{ post | inspect }} {% endcomment %}
{% assign site_basepath = "/assets/pdf/" %}


{% if file_basename.size > 0 %}
    {%- assign file_e = file_basename | prepend: site_basepath | append: 'e.pdf' -%}
    {%- assign file_e_count = site.static_files | where_exp: "file", "file.path contains file_e" | size > 0 -%}
    {% assign file_e = file_e | prepend: site.baseurl %}

    {%- assign file_r = file_basename | prepend: site_basepath | append: 'r.pdf' -%}
    {%- assign file_r_count = site.static_files | where_exp: "file", "file.path contains file_r" | size > 0 -%}
    {% assign file_r = file_r | prepend: site.baseurl %}

    {%- assign file_print = file_basename | prepend: site_basepath | append: '_print.pdf' -%}
    {%- assign file_print_count = site.static_files | where_exp: "file", "file.path contains file_print" |  size > 0 -%}
    {% assign file_print = file_print | prepend: site.baseurl %}

    {%- assign file_tablet = file_basename | prepend: site_basepath | append: '_tablet.pdf' -%}
    {%- assign file_tablet_count = site.static_files | where_exp: "file", "file.path contains file_tablet" | size > 0 -%}
    {% assign file_tablet = file_tablet | prepend: site.baseurl %}

    {%- assign file_phone = file_basename | prepend: site_basepath | append: '_phone.pdf' -%}
    {%- assign file_phone_count = site.static_files | where_exp: "file", "file.path contains file_phone" | size > 0 -%}
    {% assign file_phone = file_phone | prepend: site.baseurl %}
{% endif %}



{% if file_e_count > 0 or file_r_count > 0 or file_print_count > 0 or file_tablet_count > 0 or file_phone_count > 0   %}
    
    
    {% unless page.layout == "concours" %}
        <div class="links">
            <h2> Liens </h2>
    {% else %}
        <div class="download-concours">
    {% endunless %}
            <div class="download-list"> 
            {% if file_e_count > 0 %}
                <span class="download-item download-original">
                    <a href="{{file_e}}">Original</a>
                </span>
            {% endif %}
            {% if file_print_count > 0 %}
                <span class="download-item download-print">
                    <a href="{{file_print}}">Imprimable</a>
                </span>
            {% endif %}
            {% if file_tablet_count > 0 %}
                <span class="download-item download-tablet">
                    <a href="{{file_tablet}}">Tablette</a>
                </span>
            {% endif %}
            {% if file_phone_count > 0 %}
                <span class="download-item download-phone">
                    <a href="{{file_phone}}">Mobile</a>
                </span>
            {% endif %}
            {% if file_r_count > 0 %}
                <span class="download-item download-report">
                    <a href="{{file_r}}">Rapport</a>
                </span>
            {% endif %}
            {% if page.url_webpage %}
                <span class="download-item download-web">
                    <a href="{{page.url_webpage}}">Web</a>
                </span>
            {% endif %}
            
            </div>
        </div>

{% endif %}