
{% if page.tags or page.prerequis %}
  <section class="prerequis">
    <h2>Prérequis</h2>
    {% if page.prerequis.size > 0 %}
      {{ page.prerequis }}
    {% endif %}
    {% if page.tags %}
      <div class="prerequis-post-list">
        {% for tag in page.tags %}
          {% if site.data.variables.keywords[tag] %}
            {% assign prerequis_item = site.data.variables.keywords[tag] %}
          <a href="{{ '/tags/' | relative_url }}{{ tag | slugify }}" class="prerequis-item"> 
            {{ prerequis_item }}
          </a>
        {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
{% endif %}



