<div class="access position-sticky" style="top: 56px">
  <h2
    id="pretext-search-panel"
    class="panel-heading ps-3 pb-2 mb-4"
    title="Chercher dans le cours">
    <span class="label ps-2 pe-1">Chercher dans le cours</span>
  </h2>
  <h2 id="pretext-toc-toggle" class="panel-heading ps-3 pb-2 mb-0 ">
    <span class="label ps-2 pe-1">{{- site.data.locales[lang].panel.toc -}}</span>
  </h2>
  <div id="pretext-toc-wrapper">
    <div
      id="pretext-toc"
      class="ptx-toc depth3 focused"
      data-preexpanded-levels="1"
      data-max-levels="3"></div>
  </div>
</div>