// _sass/themes/chirpynord.scss

// Définir les couleurs Nord
$nord0: #2e3440; // Polar Night (Darkest)
$nord1: #3b4252; // Polar Night
$nord2: #434c5e; // Polar Night
$nord3: #4c566a; // Polar Night (Lightest)
$nord4: #d8dee9; // Snow Storm (Darkest)
$nord5: #e5e9f0; // Snow Storm
$nord6: #eceff4; // Snow Storm (Lightest)
$nord7: #8fbcbb; // Frost
$nord8: #88c0d0; // Frost
$nord9: #81a1c1; // Frost
$nord10: #5e81ac; // Frost
$nord11: #bf616a; // Aurora (Red)
$nord12: #d08770; // Aurora (Orange)
$nord12bis: #a1614e; // Aurora (Orange)
$nord13: #ebcb8b; // Aurora (Yellow)
$nord14: #a3be8c; // Aurora (Green)
$nord15: #b48ead; // Aurora (Purple)

// Composantes RGB des couleurs Nord
$nord0-rgb: 46, 52, 64; // RGB pour #2e3440 (Polar Night Darkest)
$nord1-rgb: 59, 66, 82; // RGB pour #3b4252 (Polar Night)
$nord2-rgb: 67, 76, 94; // RGB pour #434c5e (Polar Night)
$nord3-rgb: 76, 86, 106; // RGB pour #4c566a (Polar Night Lightest)
$nord4-rgb: 216, 222, 233; // RGB pour #d8dee9 (Snow Storm Darkest)
$nord5-rgb: 229, 233, 240; // RGB pour #e5e9f0 (Snow Storm)
$nord6-rgb: 236, 239, 244; // RGB pour #eceff4 (Snow Storm Lightest)
$nord7-rgb: 143, 188, 187; // RGB pour #8fbcbb (Frost)
$nord8-rgb: 136, 192, 208; // RGB pour #88c0d0 (Frost)
$nord9-rgb: 129, 161, 193; // RGB pour #81a1c1 (Frost)
$nord10-rgb: 94, 129, 172; // RGB pour #5e81ac (Frost)
$nord11-rgb: 191, 97, 106; // RGB pour #bf616a (Aurora Red)
$nord12-rgb: 208, 135, 112; // RGB pour #d08770 (Aurora Orange)
$nord13-rgb: 235, 203, 139; // RGB pour #ebcb8b (Aurora Yellow)
$nord14-rgb: 163, 190, 140; // RGB pour #a3be8c (Aurora Green)
$nord15-rgb: 180, 142, 173; // RGB pour #b48ead (Aurora Purple)
