@use '../themes/chirpynord' as *;


@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: #{$nord1};
  --mask-bg: #{$nord1};
  --main-border-color: #{$nord9}80;

  /* Common color */
  --text-color: #{$nord4};
  --text-muted-color: #{$nord6}a0;
  --text-muted-highlight-color: inherit; 
  --heading-color: #{$nord12};
  --label-color: #{$nord5};
  --blockquote-border-color: #{$nord2};
  --blockquote-text-color: #{$nord4};
  --link-color: #{$nord9};
  --link-underline-color: #{$nord0};
  --button-bg: #{$nord1};
  --btn-border-color: #{$nord2};
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #{$nord2};
  --card-header-bg: #{$nord3}80;
  --checkbox-color: #{$nord3};
  --checkbox-checked-color: #{$nord8};
  --img-bg: radial-gradient(circle, #{$nord0}00, #{$nord1}ff);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(46, 52, 64, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #{$nord8};
  --site-subtitle-color: #{$nord8}a0;
  --sidebar-bg: #{$nord1};
  --sidebar-border-color: #{$nord2};
  --sidebar-muted-color: #{$nord6}80;
  --sidebar-active-color: #{$nord6};
  --sidebar-hover-bg: #{$nord8}9f;
  --sidebar-btn-bg: #{$nord1};
  --sidebar-btn-color: #{$nord4};
  --avatar-border-color: #{$nord8};

  /* Topbar */
  --topbar-bg: #{$nord0}cc;
  --topbar-text-color: var(--text-color);
  --search-border-color: #{$nord2};
  --search-icon-color: #{$nord3};
  --input-focus-border-color: #{$nord7};

  /* Home page */
  --post-list-text-color: #{$nord4};
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #{$nord1};

  /* Posts */
  --toc-highlight: #{$nord8};
  --toc-popup-border-color: #{$nord2};
  --tag-hover: #{$nord2};
  --tb-odd-bg: #{$nord2}; /* odd rows of the posts' table */
  --tb-even-bg: #{$nord0}; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #{$nord10};
  --btn-share-color: #{$nord3};
  --btn-share-hover-color: #{$nord6};
  --card-bg: #{$nord0};
  --card-hovor-bg: #{$nord1};
  --card-shadow: rgb(21, 21, 21, 0.72) 0 6px 18px 0,
    rgb(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #{$nord3};
  --kbd-text-color: #{$nord6};
  --kbd-bg-color: #{$nord1};
  --prompt-text-color: #{$nord6}c0;
  --prompt-tip-bg: #{$nord14}33;
  --prompt-tip-icon-color: #{$nord14};
  --prompt-info-bg: #{$nord8}33;
  --prompt-info-icon-color: #{$nord8};
  --prompt-warning-bg: #{$nord13}33;
  --prompt-warning-icon-color: #{$nord13};
  --prompt-danger-bg: #{$nord11}33;
  --prompt-danger-icon-color: #{$nord11};

  /* Tags */
  --tag-border: #{$nord2};
  --tag-shadow: #{$nord1};
  --dash-color: #{$nord3};
  --search-tag-bg: #{$nord1};

  /* Categories */
  --categories-border: #{$nord9}80;
  --categories-hover-bg: #{$nord9};
  --categories-icon-hover-color: #{$nord6};

  /* Archive */
  --timeline-node-bg: #{$nord4};
  --timeline-color: #{$nord3};
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: #{$nord12}64;
  --highlight-bg-color: #{$nord1};
  --highlighter-rouge-color: #{$nord8};
  --highlight-lineno-color: #{$nord3};
  --inline-code-bg: #{$nord6}1a;
  --code-color: #{$nord4};
  --code-header-text-color: #{$nord6}80;
  --code-header-muted-color: #{$nord6}20;
  --code-header-icon-color: #{$nord6}20;
  --clipboard-checked-color: #{$nord14};
  --filepath-text-color: #{$nord5};

  .light {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      #{$nord0},
      #{$nord1},
      #{$nord1},
      #{$nord1},
      #{$nord0}
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* Nord-themed syntax highlighting */
  .highlight table td {
    padding: 5px;
  }

  .highlight table pre {
    margin: 0;
  }

  .highlight,
  .highlight .w {
    color: #{$nord4};
    background-color: #{$nord0};
  }

  .highlight .err {
    color: #{$nord11};
  }

  .highlight .c,
  .highlight .ch,
  .highlight .cd,
  .highlight .cm,
  .highlight .cpf,
  .highlight .c1,
  .highlight .cs {
    color: #{$nord3};
  }

  .highlight .cp {
    color: #{$nord9};
  }

  .highlight .nt {
    color: #{$nord9};
  }

  .highlight .o,
  .highlight .ow {
    color: #{$nord6};
  }

  .highlight .p,
  .highlight .pi {
    color: #{$nord5};
  }

  .highlight .gi {
    color: #{$nord14};
  }

  .highlight .gd {
    color: #{$nord11};
    background-color: #{$nord11}33;
  }

  .highlight .gh {
    color: #{$nord8};
    background-color: #{$nord0};
    font-weight: bold;
  }

  .highlight .k,
  .highlight .kn,
  .highlight .kp,
  .highlight .kr,
  .highlight .kv {
    color: #{$nord10};
  }

  .highlight .kc {
    color: #{$nord9};
  }

  .highlight .kt {
    color: #{$nord9};
  }

  .highlight .kd {
    color: #{$nord9};
  }

  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .dl,
  .highlight .sd,
  .highlight .s2,
  .highlight .sh,
  .highlight .sx,
  .highlight .s1 {
    color: #{$nord14};
  }

  .highlight .sa {
    color: #{$nord10};
  }

  .highlight .sr {
    color: #{$nord7};
  }

  .highlight .si {
    color: #{$nord13};
  }

  .highlight .se {
    color: #{$nord13};
  }

  .highlight .nn {
    color: #{$nord9};
  }

  .highlight .nc {
    color: #{$nord9};
  }

  .highlight .no {
    color: #{$nord9};
  }

  .highlight .na {
    color: #{$nord8};
  }

  .highlight .m,
  .highlight .mb,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .il,
  .highlight .mo,
  .highlight .mx {
    color: #{$nord15};
  }

  .highlight .ss {
    color: #{$nord14};
  }
}
