$dark0: #3e3632;
$dark1: #55443c;
$dark2: #65554d;
$light0: #e2eaec;
$light1: #c8d0d3;
$light2: #b8c1c3;
$link-light: #39475e;
$link-dark: #96bae9;
$emph-light: #3a666c;
$emph-dark: #51878c;
$heading-light: #956916;  
$heading-dark:#f1cc87;
$prompt-info: #b48ead;
$prompt-tip: #a3be8c;
$prompt-warn: #ebcb8b;
$prompt-dang: #bf616a;

$dark0-rgb: 57, 50, 46;
$dark1-rgb: 83, 65, 57;
$dark2-rgb: 115, 96, 87;
$light0-rgb: 226, 234, 236;
$light1-rgb: 200, 208, 211;
$light2-rgb: 184, 193, 195;
$link-light-rgb: 96, 116, 143;
$link-dark-rgb: 57, 71, 94;
$emph-light-rgb: 58, 102, 108;
$emph-dark-rgb: 62, 93, 96;
$heading-light-rgb: 149, 105, 22;
$heading-dark-rgb: 233, 184, 92;
$prompt-info-rgb: 180, 142, 173;
$prompt-tip-rgb: 163, 190, 140;
$prompt-warn-rgb: 235, 203, 139;
$prompt-dang-rgb: 191, 97, 106;



