$dark0: #1b2720;
$dark1: #2b3827;
$dark2: #41594b;
$light0: #e6FeeF;
$light1: #cdFcd2;
$light2: #c7F7c1;
$link-light: #3F586d;
$link-dark: #a0c8e8;
$emph-light: #7d9F65;
$emph-dark: #4d703e;
$heading-light: #946F00;  
$heading-dark:#eca258;
$prompt-info: #b48ead;
$prompt-tip: #b2be8c;
$prompt-warn: #ebcb8b;
$prompt-dang: #bF616a;

$dark0-rgb: 57, 50, 46;
$dark1-rgb: 83, 65, 57;
$dark2-rgb: 115, 96, 87;
$light0-rgb: 226, 234, 236;
$light1-rgb: 200, 208, 211;
$light2-rgb: 184, 193, 195;
$link-light-rgb: 96, 116, 143;
$link-dark-rgb: 57, 71, 94;
$emph-light-rgb: 58, 102, 108;
$emph-dark-rgb: 62, 93, 96;
$heading-light-rgb: 149, 105, 22;
$heading-dark-rgb: 233, 184, 92;
$prompt-info-rgb: 180, 142, 173;
$prompt-tip-rgb: 163, 190, 140;
$prompt-warn-rgb: 235, 203, 139;
$prompt-dang-rgb: 191, 97, 106;



