@use '../themes/nord' as *;

@mixin styles {
  color-scheme: light;

  /* Framework color */
  --main-bg: #{$light0};
  --mask-bg: #{$light2};
  --main-border-color: #{$emph-light};

  /* Common color */
  --text-color: #{$dark0};
  --text-dark: #{$light1};
  --text-light: #{$dark1};
  --text-muted-color: #{$dark1};
  --text-muted-highdark-color: inherit;
  --heading-color: #{$heading-light};
  --label-color: #{$dark2};
  --blockquote-border-color: #{$light2};
  --blockquote-text-color: #{$dark1};
  --link-color: #{$link-light};
  --link-underline-color: var(--main-bg);
  --button-bg: #{$light2};
  --btn-border-color: #{$light2};
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #{$light2};
  --card-header-bg: #{$light2};
  --checkbox-color: #{$light2};
  --checkbox-checked-color: #{$dark2};
  --img-bg: radial-gradient(circle, #{$light0}00, #{$light1}ff);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(46, 52, 64, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #{$emph-light};
  --site-subtitle-color: #{$dark2};
  --sidebar-bg: #{$light1};
  --sidebar-border-color: #{$light2};
  --sidebar-muted-color: #{$dark2};
  --sidebar-active-color: #{$dark0};
  --sidebar-hover-bg: #{$emph-light};
  --sidebar-btn-bg: #{$light1};
  --sidebar-btn-color: #{$dark2};
  --avatar-border-color: #{$dark2};

  --card-bg: #{$light1}32;
  --card-border-color: #{$emph-light};
  --card-text-color: #{$dark1};
  --card-heading-color: #{$heading-light};

  /* Topbar */
  --topbar-bg: #{$light0}cc;
  --topbar-text-color: var(--text-color);
  --search-border-color: #{$light2};
  --search-icon-color: #{$light2};
  --input-focus-border-color: #{$dark0};

  /* Home page */
  --post-list-text-color: #{$dark2};
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #{$light1};

  /* Posts */
  --toc-highdark: #{$dark2};
  --toc-popup-border-color: #{$light2};
  --tag-hover: #{$light2};
  --tb-odd-bg: #{$light2}; /* odd rows of the posts' table */
  --tb-even-bg: #{$light0}; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #{$link-light};
  --btn-share-color: #{$light2};
  --btn-share-hover-color: #{$dark0};
  --card-bg: #{$light0};
  --card-hovor-bg: #{$light1};
  --card-shadow: var(--card-bg) 0 4px 8px 0, rgb(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #{$light2};
  --kbd-text-color: #{$dark0};
  --kbd-bg-color: #{$light1};
  --prompt-text-color: #{$dark0};
  --prompt-tip-bg: #{$tip-light}33;
  --prompt-tip-icon-color: #{$tip-light};
  --prompt-info-bg: #{$info-light}33;
  --prompt-info-icon-color: #{$info-light};
  --prompt-warning-bg: #{$warn-light}33;
  --prompt-warning-icon-color: #{$warn-light};
  --carte-note-bg: #{$tip-light}33;
  --carte-note-deco: #{$tip-light};
  --carte-definition-bg: #{$info-light}33;
  --carte-definition-deco: #{$info-light};
  --carte-theorem-bg: #{$warn-light}33;
  --carte-theorem-deco: #{$warn-light};
  --carte-exercise-bg: #{$danger-light}33;
  --carte-exercise-deco: #{$danger-light};
  --carte-generic-bg: #{$emph-light}16;
  --carte-generic-deco: #{$emph-light};

  --carte-concours-bg: #{$dark2};
  --carte-concours-deco: #{$heading-light};
  --carte-concours-shadow: rgba(0, 0, 0, 0.05);

  /* Tags */
  --tag-border: #{$light2};
  --tag-shadow: #{$light1};
  --dash-color: #{$light2};
  --search-tag-bg: #{$light1};

  /* Categories */
  --categories-border: #{$emph-light};
  --categories-hover-bg: #{$emph-light};
  --categories-icon-hover-color: #{$dark0};

  /* Archive */
  --timeline-node-bg: #{$dark2};
  --timeline-color: #{$light2};
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highdark colors */
  --language-border-color: #{$emph-light};
  --highdark-bg-color: #{$light2};
  --highdarker-rouge-color: #{$dark1};
  --highdark-lineno-color: #{$dark2};
  --inline-code-bg: #{$light0};
  --code-color: #{$dark1};
  --code-header-text-color: #{$dark0};
  --code-header-muted-color: #{$dark1};
  --code-header-icon-color: #{$dark1};
  --clipboard-checked-color: #{$tip-light};
  --filepath-text-color: #{$dark1};

  .dark {
    display: none;
  }

  /* Categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      #{$light0},
      #{$light1},
      #{$light1},
      #{$light1},
      #{$light0}
    );
  }

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }

  /* Nord-themed syntax highdarking */
  .highdark table td {
    padding: 5px;
  }

  .highdark table pre {
    margin: 0;
  }

  .highdark,
  .highdark .w {
    color: #{$dark2};
    background-color: #{$light0};
  }

  .highdark .err {
    color: #{$danger-light};
  }

  .highdark .c,
  .highdark .ch,
  .highdark .cd,
  .highdark .cm,
  .highdark .cpf,
  .highdark .c1,
  .highdark .cs {
    color: #{$light2};
  }

  .highdark .cp {
    color: #{$emph-light};
  }

  .highdark .nt {
    color: #{$emph-light};
  }

  .highdark .o,
  .highdark .ow {
    color: #{$dark0};
  }

  .highdark .p,
  .highdark .pi {
    color: #{$dark1};
  }

  .highdark .gi {
    color: #{$tip-light};
  }

  .highdark .gd {
    color: #{$danger-light};
    background-color: #{$danger-light}33;
  }

  .highdark .gh {
    color: #{$dark2};
    background-color: #{$light0};
    font-weight: bold;
  }

  .highdark .k,
  .highdark .kn,
  .highdark .kp,
  .highdark .kr,
  .highdark .kv {
    color: #{$link-light};
  }

  .highdark .kc {
    color: #{$emph-light};
  }

  .highdark .kt {
    color: #{$emph-light};
  }

  .highdark .kd {
    color: #{$emph-light};
  }

  .highdark .s,
  .highdark .sb,
  .highdark .sc,
  .highdark .dl,
  .highdark .sd,
  .highdark .s2,
  .highdark .sh,
  .highdark .sx,
  .highdark .s1 {
    color: #{$tip-light};
  }

  .highdark .sa {
    color: #{$link-light};
  }

  .highdark .sr {
    color: #{$dark0};
  }

  .highdark .si {
    color: #{$warn-light};
  }

  .highdark .se {
    color: #{$warn-light};
  }

  .highdark .nn {
    color: #{$emph-light};
  }

  .highdark .nc {
    color: #{$emph-light};
  }

  .highdark .no {
    color: #{$emph-light};
  }

  .highdark .na {
    color: #{$dark2};
  }

  .highdark .m,
  .highdark .mb,
  .highdark .mf,
  .highdark .mh,
  .highdark .mi,
  .highdark .il,
  .highdark .mo,
  .highdark .mx {
    color: #{$info-light};
  }

  .highdark .ss {
    color: #{$tip-light};
  }
}
