$dark0: #252a33;
$dark1: #323745;
$dark2: #353c4a;
$light0: #eceff4;
$light1: #e5e9f0;
$light2: #d8dee9;
$link-light: #335783;
$link-dark: #7ca2d0;
$emph-dark: #779fa4;
$emph-light: #5f9c9b;
$heading-light: #a1614e;
$heading-dark: #d18f7b;
$tip-dark: #a3be8c;
$info-dark: #b48ead;
$warn-dark: #ebcb8b;
$danger-dark: #bf616a;
$tip-light: #6a7a5b;
$info-light: #6b5467;
$warn-light: #8b7954;
$danger-light: #7b3f45;
