$darkreally: #171a20;
$dark0: #252a33;
$dark1: #323745;
$dark2: #424b5d;
$lightreally: #f4f8ff;
$light1: #edf1f8;
$light2: #e5e9f0;
$light0: #d5def4;
$link-light: #335783;
$link-dark: #7ca2d0;
$emph-dark: #64868b;
$emph-light: #5f9c9b;
$heading-light: #b9715b;
$heading-dark: #d18f7b;
$tip-dark: #a3be8c;
$info-dark: #b48ead;
$warn-dark: #ebcb8b;
$danger-dark: #bf616a;
$tip-light: #b4d09c;
$info-light: #6b5467;
$warn-light: #8b7954;
$danger-light: #7b3f45;
$concours-light: #892f38;
$concours-dark: #892f38;
$link-hover-color: #d2603a90;
