$material-font-family: "Hosted-Material" !default;
$material-font-path: "/assets/lib/material/fonts" !default;

$error1: "\e989";
$loop: "\e9a4";
$web1: "\e9a6";
$playlist_play: "\e9a7";
$call: "\e9a8";
$dialpad: "\e9a9";
$import_export: "\e9aa";
$location_on: "\e9ab";
$message: "\e9ac";
$chat_bubble: "\e9ad";
$phone: "\e9ae";
$textsms: "\e9af";
$import_contacts1: "\e9b0";
$rss_feed: "\e9b1";
$list_alt: "\e9b2";
$backspace1: "\e9b3";
$forward1: "\e9b4";
$remove_circle1: "\e9b5";
$report1: "\e9b6";
$ballot: "\e9b7";
$waves: "\e9b8";
$inventory: "\e9b9";
$access_alarms: "\e9ba";
$access_time: "\e9bb";
$airplanemode_on: "\e9bc";
$brightness_high: "\e9bd";
$gps_fixed1: "\e9be";
$sd_storage: "\e9bf";
$attach_file: "\e9c0";
$format_line_spacing: "\e9c1";
$format_list_bulleted: "\e9c2";
$format_list_numbered: "\e9c3";
$format_paint1: "\e9c4";
$insert_photo1: "\e9c5";
$mode_comment: "\e9c6";
$publish: "\e9c7";
$vertical_align_bottom1: "\e9c8";
$vertical_align_center1: "\e9c9";
$vertical_align_top1: "\e9ca";
$format_list_numbered_rtl: "\e9cb";
$attachment: "\e9cc";
$computer: "\e9cd";
$desktop_mac: "\e9ce";
$desktop_windows: "\e9cf";
$keyboard_arrow_down1: "\e9d0";
$keyboard_arrow_left: "\e9d1";
$keyboard_arrow_right1: "\e9d2";
$keyboard_arrow_up1: "\e9d3";
$keyboard_hide: "\e9d4";
$laptop_chromebook: "\e9d5";
$laptop_mac1: "\e9d6";
$laptop_windows: "\e9d7";
$tablet_android: "\e9d8";
$tablet_mac1: "\e9d9";
$tv: "\e9da";
$watch: "\e9db";
$blur_on: "\e9dc";
$brightness_11: "\e9dd";
$brightness_21: "\e9de";
$brightness_3: "\e9df";
$brightness_42: "\e9e0";
$brush1: "\e9e1";
$camera: "\e9e2";
$camera_alt1: "\e9e3";
$collections: "\e9e4";
$lens: "\e9e5";
$panorama: "\e9e6";
$picture_as_pdf1: "\e9e7";
$tune1: "\e9e8";
$wb_incandescent: "\e9e9";
$wb_sunny: "\e9ea";
$burst_mode: "\e9eb";
$directions_ferry: "\e9ec";
$directions_subway1: "\e9ed";
$directions_train1: "\e9ee";
$hotel: "\e9ef";
$local_cafe1: "\e9f0";
$local_gas_station: "\e9f1";
$local_library1: "\e9f2";
$local_printshop1: "\e9f3";
$local_taxi: "\e9f4";
$navigation1: "\e9f5";
$traffic1: "\e9f6";
$ev_station: "\e9f7";
$train: "\e9f8";
$tram: "\e9f9";
$departure_board: "\e9fa";
$fullscreen_exit1: "\e9fb";
$menu: "\e9fc";
$keyboard_control: "\e9fd";
$more_vert: "\e9fe";
$group: "\e9ff";
$group_add: "\ea00";
$notifications: "\ea01";
$account_balance: "\ea02";
$account_balance_wallet1: "\ea03";
$book: "\ea04";
$bookmark: "\ea05";
$build: "\ea06";
$done1: "\ea07";
$done_all: "\ea08";
$favorite: "\ea09";
$language1: "\ea0a";
$open_with: "\ea0b";
$settings1: "\ea0c";
$trending_down: "\ea0d";
$trending_up: "\ea0e";
$view_array: "\ea0f";
$view_carousel1: "\ea10";
$view_column: "\ea11";
$view_day1: "\ea12";
$view_headline: "\ea13";
$view_list1: "\ea14";
$view_module1: "\ea15";
$view_quilt1: "\ea16";
$view_stream1: "\ea17";
$view_week1: "\ea18";
$visibility_off: "\ea19";
$card_membership: "\ea1a";
$card_travel: "\ea1b";
$work: "\ea1c";
$flight_land: "\ea1d";
$flight_takeoff: "\ea1e";
$imagesearch_roller: "\ea1f";
$print_disabled: "\ea20";
$toggle_off1: "\ea21";
$toggle_on1: "\ea22";
$emoji_objects1: "\ea23";
$auto_stories1: "\ea24";
$south: "\ea25";
$south_east: "\ea26";
$south_west: "\ea27";
$star_outline1: "\ea28";
$star_rate: "\ea29";
$table_rows: "\ea2a";
$west: "\ea2b";
$facebook: "\ea2c";
$fast_forward: "\e97f";
$fast_rewind: "\e980";
$pause: "\e981";
$pause_circle_filled1: "\e982";
$play_arrow: "\e983";
$play_circle_filled1: "\e984";
$skip_next: "\e985";
$skip_previous: "\e986";
$stop: "\e987";
$fiber_manual_record: "\e988";
$airplanemode_off: "\e98a";
$vertical_align_bottom: "\e98b";
$vertical_align_center: "\e98c";
$vertical_align_top: "\e98d";
$cast_connected: "\e98e";
$brightness_41: "\e98f";
$camera_alt: "\e990";
$flash_auto: "\e991";
$flash_off: "\e992";
$flash_on: "\e993";
$view_comfy: "\e994";
$directions_subway: "\e995";
$directions_train: "\e996";
$navigation: "\e997";
$code: "\e998";
$dashboard: "\e999";
$label: "\e99a";
$toc: "\e99b";
$view_day: "\e99c";
$view_list: "\e99d";
$view_module: "\e99e";
$view_quilt: "\e99f";
$view_stream: "\e9a0";
$view_week: "\e9a1";
$line_style: "\e9a2";
$line_weight: "\e9a3";
$double_arrow: "\e9a5";
$error: "\e900";
$warning: "\e901";
$album: "\e902";
$closed_caption: "\e903";
$mic: "\e904";
$new_releases: "\e905";
$pause_circle_filled: "\e906";
$play_circle_filled: "\e907";
$video_library: "\e908";
$web: "\e909";
$airplay: "\e90a";
$subscriptions: "\e90b";
$playlist_add_check: "\e90c";
$import_contacts: "\e90d";
$lightbulb: "\e90e";
$add_box: "\e90f";
$add_circle: "\e910";
$backspace: "\e911";
$clear: "\e912";
$create: "\e913";
$flag: "\e914";
$forward: "\e915";
$link: "\e916";
$remove_circle: "\e917";
$reply: "\e918";
$reply_all: "\e919";
$report: "\e91a";
$send: "\e91b";
$delete_sweep: "\e91c";
$brightness_low: "\e91d";
$brightness_medium: "\e91e";
$gps_fixed: "\e91f";
$storage: "\e920";
$border_color: "\e921";
$format_align_center: "\e922";
$format_align_justify: "\e923";
$format_align_left: "\e924";
$format_align_right: "\e925";
$format_paint: "\e926";
$insert_photo: "\e927";
$format_shapes: "\e928";
$file_download: "\e929";
$file_upload: "\e92a";
$keyboard_arrow_down: "\e92b";
$keyboard_arrow_right: "\e92c";
$keyboard_arrow_up: "\e92d";
$laptop_mac: "\e92e";
$phone_iphone: "\e92f";
$tablet_mac: "\e930";
$brightness_1: "\e931";
$brightness_2: "\e932";
$brightness_4: "\e933";
$brush: "\e934";
$color_lens: "\e935";
$dehaze: "\e936";
$navigate_before: "\e937";
$navigate_next: "\e938";
$picture_as_pdf: "\e939";
$tune: "\e93a";
$local_cafe: "\e93b";
$local_library: "\e93c";
$local_offer: "\e93d";
$local_printshop: "\e93e";
$map: "\e93f";
$traffic: "\e940";
$cancel: "\e941";
$check: "\e942";
$expand_less: "\e943";
$expand_more: "\e944";
$fullscreen: "\e945";
$fullscreen_exit: "\e946";
$unfold_less: "\e947";
$unfold_more: "\e948";
$arrow_back_ios: "\e949";
$arrow_forward_ios: "\e94a";
$notifications_on: "\e94b";
$school: "\e94c";
$star: "\e94d";
$star_half: "\e94e";
$star_outline: "\e94f";
$account_balance_wallet: "\e950";
$bug_report: "\e951";
$dns: "\e952";
$done: "\e953";
$extension: "\e954";
$home: "\e955";
$hourglass_empty: "\e956";
$hourglass_full: "\e957";
$language: "\e958";
$list: "\e959";
$pageview: "\e95a";
$search: "\e95b";
$settings: "\e95c";
$settings_cell: "\e95d";
$stars: "\e95e";
$thumb_down: "\e95f";
$thumb_up: "\e960";
$view_carousel: "\e961";
$opacity: "\e962";
$pan_tool: "\e963";
$filter_list_alt: "\e964";
$dangerous: "\e965";
$home_filled: "\e966";
$logout: "\e967";
$panorama_photosphere_select: "\e968";
$toggle_off: "\e969";
$toggle_on: "\e96a";
$emoji_food_beverage: "\e96b";
$emoji_events: "\e96c";
$emoji_objects: "\e96d";
$house: "\e96e";
$beach_access: "\e96f";
$business_center: "\e970";
$add_to_drive: "\e971";
$architecture: "\e972";
$auto_fix_high: "\e973";
$auto_stories: "\e974";
$filter_alt: "\e975";
$handyman: "\e976";
$hourglass_bottom: "\e977";
$hourglass_top: "\e978";
$local_fire_department: "\e979";
$open_in_full: "\e97a";
$pending: "\e97b";
$push_pin: "\e97c";
$science: "\e97d";
$view_sidebar: "\e97e";